{% extends "base_generic.html" %}

{% block content %}

<body>
    <!-- <div style="width: 500px;"><canvas id="dimensions"></canvas></div><br/> -->
    <div class="div-1">
        <canvas id="testChart"></canvas>
    </div>

    <!-- <script type="module" src="dimensions.js"></script> -->
    <!-- <script type="module" src="temperatureChart.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4"></script>

    <script>
        var timeStamps = [];
        for (i = 0; i < 24; i++) {
            timeStamps.push(i.toString());
        }

        var node1TempData = [];
        for (i = 0; i < 24; i++) {
            var temp = Math.floor(Math.random() * 60) - 20;
            node1TempData.push(temp);
        }

        var node2TempData = [];
        for (i = 0; i < 24; i++) {
            var temp = Math.floor(Math.random() * 60) - 20;
            node2TempData.push(temp);
        }

        const ctx = document.getElementById('testChart').getContext("2d");
        const testChart = new Chart(
            ctx,
            {
                type: 'line',
                data: {
                    labels: timeStamps,
                    datasets: [
                        {
                            label: 'Node 1',
                            data: node1TempData,
                        },
                        {
                            label: 'Node 2',
                            data: node2TempData,
                        }
                    ]
                },
                options: {
                    Response: true,
                    scales: {
                        y: {
                            ticks: {
                                // Include a dollar sign in the ticks
                                callback: function (value, index, ticks) {
                                    return value + " °C";
                                }
                            }
                        }
                    },

                },
            }
        );
    </script>

</body>

</html>
{% endblock %}